<html>
    <head>
        <title>Remote System</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon_robo.png')}}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_index.css') }}">
    </head>
    <body>
    <div id="wrapper">
        <header>
            <div id="choice">
            </div>
        </header>
        <footer></footer>
    </div>
    </body>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</html>